<block-ui>
    <div class="row" class="center">
      <div class="col-lg-12">
        <form [formGroup]="passwordForm" (ngSubmit)="general()">
            <div class="form-group">
                <label for="jelszo">Jelszó</label>
                <input type="password" class="form-control" formControlName="newPassword">
            </div>
            <div *ngIf="newPassword.touched && newPassword.errors?.['required']" class="alert alert-danger">
              A mezőt kötelező kitölteni!
            </div>
            <hr>
            <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">Létehozás</button>
          </form>
      </div>
    </div>
  </block-ui>