<block-ui>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="profil" routerLinkActive="active">
        <img src="./assets/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        feladat
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="letrehoz" routerLinkActive="active">Új esemény létrehozása</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="listaz" routerLinkActive="active">Események</a>
          </li>
          <li *ngIf="!loggedIn()" class="nav-item">
            <a class="nav-link" routerLink="szerep" routerLinkActive="active">Szerepkörök</a>
          </li>
          <li *ngIf="loggedIn()" class="nav-item">
            <a class="nav-link" routerLink="admin" routerLinkActive="active">Admin Panel</a>
          </li>
        </ul>
        <div>
          <ul class="nav navbar-nav">
            <li *ngIf="loggedIn()" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Üdvözöllek, {{ loggedInUser }}!
                  <img [src]="kepBetolt()" alt="Logo" width="30px" class="rounded">
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="profil">Profil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li (click)="onLogOut()"><a class="dropdown-item" routerLink="login" >Kijelentkezés</a></li>
              </ul>
            </li>
            <li *ngIf="!loggedIn()" class="nav-item">
              <a class="nav-link" routerLink="register" routerLinkActive="active" >Register</a>
            </li>
            <li *ngIf="!loggedIn()" class="nav-item">
              <a class="nav-link" routerLink="login" routerLinkActive="active" >Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</block-ui>